<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.f5.go</string>
  
  <key>WorkingDirectory</key>
  <string>/Users/nance/src/f5go</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/nance/src/f5go/scripts/osx/venv/bin/python</string>
    <string>go.py</string>
  </array>
  
  <key>RunAtLoad</key>
  <true/>
  
  <key>KeepAlive</key>
  <true/>
  
  <key>StandardErrorPath</key>
  <string>/tmp/f5go.err</string>
  
  <key>StandardOutPath</key>
  <string>/tmp/f5go.log</string>
</dict>
</plist>

